* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time,
.sounds {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time button,
.sounds button {
  color: black;
  width: 30%;
  height: 100px;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;

}

.sounds button {
  border: none;
  height: 170px;
  width: 200px;
  padding: 30px;
}

.sounds button img {
  height: 100%;
}


.mainPlay {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.mainPlay svg {
  position: absolute;
  height: 50%;
  pointer-events: none;
}
.mainPlay svg circle {
  transition: all 0.2s ease-in-out;
}
.clock {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
}

.play {
  position: relative;
  top: 10px;
  left: 10px;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
}
.time button:hover {
  background: white;
  color: black;
}
.sounds button:hover{
  background: white;
  color: black;

}